<!-- footer -->
<footer class="bg-dark footer-section">
  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h5 class="text-light">Email</h5>
          <p class="text-white paragraph-lg font-secondary">{{ site.data.settings.email }}</p>
        </div>
        <div class="col-md-4">
          <h5 class="text-light">Address</h5>
          <p class="text-white paragraph-lg font-secondary">{{ site.data.settings.address }}</p>
        </div>
        <div class="col-md-4">

          <!-- OLD HTML -->
          <!--<h5 class="text-light">Social Media</h5>
          <li class="list-unstyled ml-5 mt-3 position-relative zindex-1">
            {% for social in site.data.settings.social %}
            <li class="mb-3"><a class="text-white" href="{{ social.link }}"><i class="{{ social.icon }}"></i></a></li>
            {% endfor %} <\<li></li>
          <p class="text-white paragraph-lg font-secondary">{{ site.data.settings.address }}</p>-->

          <!-- NEW HTML-->
          <h5 class="text-light">Social Media</h5>
          <div class="field">
            {% for social in site.data.settings.social %}
            <!-- For each social, get their icon and link (found within settings.yml) -->
            <a class="sns-btn sns-btn--{{ social.id }}" href="{{ social.link }}">
              <i class="sns-btn__icon fab fa-{{ social.id }}"></i>
            </a>
            {% endfor %}
          </div>


        </div>
      </div>
    </div>
  </div>
  <div class="border-top text-center border-dark py-5">
    <p class="mb-0 text-light">Copyright ©<script>
        var CurrentYear = new Date().getFullYear()
        document.write(CurrentYear)
      </script> Neha Hudait</p>
  </div>
</footer>
<!-- /footer -->
