<section data-scroll-index="5">
    <div class="other">
        <div class="header" style="padding-top: 70px;">
            <h1 class="title">{{ .Site.Params.Other.Title }}</h1>
        </div>

        <div class="row">
            <!-- Experience 1 -->
            <div class="entry">
                <div class="circle"></div>
                <div class="box">
                    <div class="content">
                        <span class="year">2022 - Present</span>
                        <h3>Senior Security Product Manager</h3>
                        <h4>NVIDIA</h4>
                        <p>Leading how we tell NVIDIA's security story to our customers, partners, and the industry.</p>
                    </div>
                </div>
            </div>

            <!-- Experience 2 -->
            <div class="entry">
                <div class="circle"></div>
                <div class="box">
                    <div class="content">
                        <span class="year">2021</span>
                        <h3>Technical Product Manager Intern</h3>
                        <h4>NVIDIA</h4>
                        <p>Developed and owned risk identification, risk mitigation, bug triage, status tracking, and adoption pipeline to increase engineering efficiency by 200%.</p>
                    </div>
                </div>
            </div>

            <!-- Experience 3 -->
            <div class="entry">
                <div class="circle"></div>
                <div class="box">
                    <div class="content">
                        <span class="year">2021</span>
                        <h3>Software Engineering Intern</h3>
                        <h4>Meta</h4>
                        <p>Developed a machine learning system to detect over 20,000 privacy violations with 99.4% accuracy.</p>
                    </div>
                </div>
            </div>

            <!-- Experience 4 -->
            <div class="entry">
                <div class="circle"></div>
                <div class="box">
                    <div class="content">
                        <span class="year">2021</span>
                        <h3>Software Engineering Intern</h3>
                        <h4>NVIDIA</h4>
                        <p>Developed a full-stack portal to allow users to ingest log types into SIEM tools and leverage AI frameworks.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
