<section data-scroll-index="5">
    <div class="other">
        <div class="header" style="padding-top: 70px;">
            <h1 class="title">{{ .Site.Params.Other.Title }}</h1>
            <!-- <h2 class="subtitle">{{ .Site.Params.Other.Subtitle }}</h2> -->
        </div>

        <div class="row">
            <div class="box">
                <div class="content">
                    <span class="year">2022 - Present</span>
                    <h3>Senior Security Product Manager</h3>
                    <h4>NVIDIA</h4>
                    <p> Leading how we tell NVIDIA's security story to our customers, partners, and the industry </p>
                </div>
            </div>

            <div class="box">
                <div class="content">
                    <span class="year">2021</span>
                    <h3>Technical Product Manager Intern</h3>
                    <h4>NVIDIA</h4>
                    <p>Developed and owned risk identification, rism mitigation, bug triage, status tracking, and adoption pipeline to increase engineering efficiency by 200%.</p>
                </div>
            </div>

            <div class="box">
                <div class="content">
                    <span class="year">2021</span>
                    <h3>Software Engineering Intern</h3>
                    <h4>Meta</h4>
                    <p>Developed machine learning system and model to detect over 20,000 privacy violations with 99.4% accuracy as part of the People Data Privacy team. </p>
                </div>
            </div>

            <div class="box">
                <div class="content">
                    <span class="year">2021</span>
                    <h3>Software Engineering Intern</h3>
                    <h4>NVIDIA</h4>
                    <p>Developed full-stack portal to allow users to ingest different log types into SIEM tools and to leverage Morpheus AI Cybersecurity framework to identify, capture, and take actions on threats and anomalies such as unencrypted sensitive data, phishing attacks, and malware.</p>
                </div>
            </div>
    </div>
</section> 
