<section data-scroll-index="6">
    <div class="other">
        <div class="header" style="padding-top: 70px;">
            <h1 class="title">{{ .Site.Params.Timeline.Title }}</h1>
            <!-- <h2 class="subtitle">{{ .Site.Params.Other.Subtitle }}</h2> -->
        </div>

        <div class="row">
            <div class="box">
                <div class="content">
                    <span class="year">2023-Present</span>
                    <h3>Women in Security Community Group Lead</h3>
                    <h4>NVIDIA</h4>
                    <p>Lead community group for women and allies in security.</p>
                </div>
            </div>

            <div class="box">
                <div class="content">
                    <span class="year">2023</span>
                    <h3>Speaker</h3>
                    <h4>Day of Shecurity, Pacific Hackers Conference</h4>
                    <p>Day of Shecurity Topic: Security Engineering Strategy to Action: Building a Robust Security Engineering Program.</p>
                    <p>Pacific Hackers Conference Topic: Beyond the Lock and Key: Managing Asset Security with Code Signing.</p>
                </div>
            </div>

            <div class="box">
                <div class="content">
                    <span class="year">2022 - Present </span>
                    <h3>Member</h3>
                    <h4>WiCyS, WISP, Align</h4>
                    <p>WiCyS: Community for Women in Cybersecurity</p>
                    <p>WISP: Women in Security and Privacy</p>
                    <p>Align: Women in AI Security</p>
                </div>
            </div>

            <div class="box">
                <div class="content">
                    <span class="year">2022 - Present</span>
                    <h3>Consultant</h3>
                    <h4>Common Impact</h4>
                    <p>Helping non profits and small businesses leverage technology to reach out to more customers</p>
                </div>
            </div>

            
    </div>
</section> 
